node-red/flows.json
[{"id":"90481099.6eeb5","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"c1de863.14bd278","type":"tab","label":"Switches","disabled":false,"info":""},{"id":"41a5cae4.91c334","type":"tab","label":"Alexa automation","disabled":false,"info":""},{"id":"43eecb89.0268f4","type":"tab","label":"Energy","disabled":false,"info":""},{"id":"2a384ea9.1c12d2","type":"tab","label":"Security","disabled":false,"info":""},{"id":"a0ecd024.daaf","type":"server","z":"","name":"Home Assistant"},{"id":"7c6d8439.30666c","type":"deconz-server","z":"","name":"Phoscon-GW","ip":"192.168.2.104","port":"40850","apikey":"6A1F8775C2","ws_port":"40860","secure":false},{"id":"e43f202d.a8904","type":"rfxtrx-port","z":"","port":"/dev/ttyUSB0","enableDebug":true,"rfyVenetianMode":"EU"},{"id":"8f311e8b.c6f96","type":"mqtt-broker","z":"","name":"LocalMQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d283c5b7.c4fd28","type":"rfxtrx-port","z":"","port":"/dev/ttyUSB0","enableDebug":true,"rfyVenetianMode":"EU"},{"id":"fad76540.df6b98","type":"rfxtrx-port","z":"","port":"/dev/ttyUSB0","enableDebug":true,"rfyVenetianMode":"EU"},{"id":"28ad12c.c80e8ee","type":"rfxtrx-port","z":"","port":"/dev/ttyUSB0","enableDebug":true,"rfyVenetianMode":"EU"},{"id":"89a3c32e.a282f","type":"PT2262-device-list","z":"","name":"RfxCom","devices":[]},{"id":"3e3d7f0b.6fba9","type":"rfx-lights-in","z":"c1de863.14bd278","name":"","port":"e43f202d.a8904","topicSource":"all","topic":"","x":80,"y":100,"wires":[["5347c622.a49198","f2a97822.23fc48"]]},{"id":"f26c2926.18c408","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":40,"wires":[]},{"id":"5fbadf28.78235","type":"switch","z":"c1de863.14bd278","name":"controller switch","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"AC/0x012DE852/","vt":"str"},{"t":"cont","v":"AC/0x0054906A/","vt":"str"},{"t":"cont","v":"AC/0x00545F56/","vt":"str"},{"t":"cont","v":"AC/0x00A0E54E/","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":460,"y":100,"wires":[["c027d3e5.dc2d3","61b921a8.a8929"],["c027d3e5.dc2d3","3649680a.38e458"],["c027d3e5.dc2d3","3649680a.38e458"],["7e4cb821.476298","c027d3e5.dc2d3"]],"outputLabels":["plate switch bedroom","remote 1","remote 2","plate switch master bedroom"]},{"id":"c90b343.7f96bc8","type":"change","z":"c1de863.14bd278","name":"lights/bathroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bathroom/main/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/bathroom/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":380,"wires":[["e6fb989e.72de48"]]},{"id":"a54793ed.3664a","type":"mqtt out","z":"c1de863.14bd278","name":"","topic":"","qos":"","retain":"","broker":"8f311e8b.c6f96","x":1650,"y":100,"wires":[]},{"id":"e6fb989e.72de48","type":"change","z":"c1de863.14bd278","name":"On/Off => 1/0","rules":[{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":220,"wires":[["f26c2926.18c408","a54793ed.3664a","aba2cdf4.336c3","c1bc1cf0.d5e9"]]},{"id":"5347c622.a49198","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":40,"wires":[]},{"id":"61b921a8.a8929","type":"switch","z":"c1de863.14bd278","name":"button switch","property":"button","propertyType":"msg","rules":[{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":100,"wires":[["c31370cb.bfc8a"],["9deee32e.31567"]]},{"id":"3649680a.38e458","type":"switch","z":"c1de863.14bd278","name":"button switch","property":"button","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"}],"checkall":"false","repair":false,"outputs":17,"x":670,"y":260,"wires":[[],["456d8275.32918c"],["95a8f428.16e268"],["2397fa6.f689e06"],["d92b922f.e6bce","bc4532a9.3a3e4"],["9deee32e.31567"],["f8c9ffae.79f2a"],["c31370cb.bfc8a"],[],["c90b343.7f96bc8"],["f8bd695e.a158a8"],[],[],["f3c0bb96.695668"],["1a977f2d.cb5b41"],["c31370cb.bfc8a"],["9deee32e.31567"]],"outputLabels":["Global","1x1","1x2","1x3","1x4","2x1","2x2","2x3","2x4","3x1","3x2","3x3","3x4","4x1","4x2","4x3","4x4"]},{"id":"f8bd695e.a158a8","type":"change","z":"c1de863.14bd278","name":"lights/mbathroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbathroom/main/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/mbathroom/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["e6fb989e.72de48"]]},{"id":"d92b922f.e6bce","type":"change","z":"c1de863.14bd278","name":"lights/livingroom/lamp","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/livingroom/lamp/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/livingroom/lamp/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["e6fb989e.72de48"]]},{"id":"dd3e85f9.739e58","type":"inject","z":"c1de863.14bd278","name":"test","topic":"AC/0x00545F56/9","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["f2a97822.23fc48"]]},{"id":"efd765d7.950908","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":40,"wires":[]},{"id":"c027d3e5.dc2d3","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":40,"wires":[]},{"id":"f8c9ffae.79f2a","type":"change","z":"c1de863.14bd278","name":"lights/mbedroom/desk","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/desk/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/mbedroom/desk/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":500,"wires":[["e6fb989e.72de48"]]},{"id":"f3c0bb96.695668","type":"change","z":"c1de863.14bd278","name":"lights/mbedroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/main/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/mbedroom/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":460,"wires":[["e6fb989e.72de48"]]},{"id":"9deee32e.31567","type":"change","z":"c1de863.14bd278","name":"lights/bedroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bedroom/main/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/bedroom/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["e6fb989e.72de48"]]},{"id":"7e4cb821.476298","type":"switch","z":"c1de863.14bd278","name":"button switch","property":"button","propertyType":"msg","rules":[{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":420,"wires":[["d92b922f.e6bce"],["bc4532a9.3a3e4"]]},{"id":"f2a97822.23fc48","type":"change","z":"c1de863.14bd278","name":"set button nr","rules":[{"t":"set","p":"button_code","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"button","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"button","pt":"msg","from":".*\\/([0-9]{1,2})$","fromt":"re","to":"$1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["5fbadf28.78235","efd765d7.950908"]]},{"id":"1a977f2d.cb5b41","type":"change","z":"c1de863.14bd278","name":"lights/mbedroom/nightlight","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/nightlight/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/mbedroom/nightlight/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":540,"wires":[["e6fb989e.72de48"]]},{"id":"bc4532a9.3a3e4","type":"change","z":"c1de863.14bd278","name":"lights/livingroom/tvlight","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/livingroom/tvlight/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/livingroom/tvlight/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["e6fb989e.72de48"]]},{"id":"c31370cb.bfc8a","type":"change","z":"c1de863.14bd278","name":"lights/bedroom/commode","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bedroom/commode/cmd/gpio/12","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/bedroom/commode/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":340,"wires":[["e6fb989e.72de48"]]},{"id":"456d8275.32918c","type":"change","z":"c1de863.14bd278","name":"Living room lights","rules":[{"t":"set","p":"topic","pt":"msg","to":"shellies/shelly1-5B2D92/relay/0/command","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/livingroom/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":100,"wires":[["c5b5938.88d797"]]},{"id":"95a8f428.16e268","type":"change","z":"c1de863.14bd278","name":"Kitchen lights","rules":[{"t":"set","p":"topic","pt":"msg","to":"shellies/shelly1-32A790/relay/0/command","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/kitchen/main/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":140,"wires":[["c5b5938.88d797"]]},{"id":"2397fa6.f689e06","type":"change","z":"c1de863.14bd278","name":"Kitchen worktop lights","rules":[{"t":"set","p":"topic","pt":"msg","to":"shellies/shelly1-5B3144/relay/0/command","tot":"str"},{"t":"set","p":"topic_attr","pt":"msg","to":"lights/kitchen/worktop/attr","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":180,"wires":[["c5b5938.88d797"]]},{"id":"c5b5938.88d797","type":"change","z":"c1de863.14bd278","name":"On/Off => on/off","rules":[{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":100,"wires":[["a54793ed.3664a","f26c2926.18c408","aba2cdf4.336c3","c1bc1cf0.d5e9"]]},{"id":"4c6e450b.37f15c","type":"rfx-sensor","z":"90481099.6eeb5","name":"temperature","port":"d283c5b7.c4fd28","topicSource":"all","topic":"","x":170,"y":100,"wires":[["9e91b0cd.06d42","613d5f7c.666d8"]]},{"id":"c7816320.ba0ae","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":60,"wires":[]},{"id":"3f421d6a.1bbae2","type":"change","z":"90481099.6eeb5","name":"topic converter","rules":[{"t":"change","p":"topic","pt":"msg","from":"TH1/0x7404","fromt":"str","to":"sensor/livingroom/temp","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"TH1/0x7402","fromt":"str","to":"sensor/bedroom/temp","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"TH1/0x6401","fromt":"str","to":"sensor/mbedroom/temp","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"TH8/0x0E02","fromt":"str","to":"sensor/outside/temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["c7816320.ba0ae","5b739df5.e54d94"]]},{"id":"9e91b0cd.06d42","type":"switch","z":"90481099.6eeb5","name":"filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TH1/0x7404","vt":"str"},{"t":"eq","v":"TH1/0x6401","vt":"str"},{"t":"eq","v":"TH1/0x7402","vt":"str"},{"t":"eq","v":"TH8/0x0E02","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":340,"y":100,"wires":[["3f421d6a.1bbae2"],["3f421d6a.1bbae2"],["3f421d6a.1bbae2"],["3f421d6a.1bbae2"]]},{"id":"5b739df5.e54d94","type":"mqtt out","z":"90481099.6eeb5","name":"sensor/{room}/temp","topic":"","qos":"0","retain":"false","broker":"8f311e8b.c6f96","x":750,"y":100,"wires":[]},{"id":"d571050d.8b01e8","type":"rfx-lights-in","z":"90481099.6eeb5","name":"doorbell","port":"d283c5b7.c4fd28","topicSource":"single","topic":"AC/0x00EFDE02/0","x":150,"y":200,"wires":[["b4129de0.81ed1"]]},{"id":"f713b0b.827d35","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":240,"wires":[]},{"id":"b4129de0.81ed1","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/corridor/doorbell","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":770,"y":200,"wires":[]},{"id":"3046516c.a0c53e","type":"inject","z":"90481099.6eeb5","name":"","topic":"AC/0x00EFDE02/0","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["b4129de0.81ed1"]]},{"id":"a57f7bda.5891b8","type":"mqtt in","z":"90481099.6eeb5","name":"","topic":"sensor/corridor/doorbell","qos":"2","datatype":"auto","broker":"8f311e8b.c6f96","x":200,"y":280,"wires":[["6e28bd78.337d64"]]},{"id":"70877f59.0c508","type":"pushover","z":"90481099.6eeb5","name":"","device":"","title":"Doorbell","priority":0,"sound":"","url":"","url_title":"","html":false,"x":720,"y":280,"wires":[]},{"id":"6e28bd78.337d64","type":"change","z":"90481099.6eeb5","name":"set timestamp","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload","pt":"msg","to":"Expecting delivery?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":280,"wires":[["70877f59.0c508","f713b0b.827d35"]]},{"id":"339abfbb.21cb1","type":"deconz-input","z":"90481099.6eeb5","name":"MBathroom motion","server":"7c6d8439.30666c","device":"00:15:8d:00:04:14:22:3e-01-0406","device_name":"Master bathroom motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":190,"y":960,"wires":[[],["8909744f.a2ffc8"]]},{"id":"2c632859.e270a8","type":"debug","z":"41a5cae4.91c334","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":160,"wires":[]},{"id":"46006e74.179e7","type":"change","z":"41a5cae4.91c334","name":"lights/bathroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bathroom/main/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["e0589f.7ab7276"]]},{"id":"9dddac8.7375b5","type":"mqtt out","z":"41a5cae4.91c334","name":"","topic":"","qos":"","retain":"","broker":"8f311e8b.c6f96","x":1090,"y":120,"wires":[]},{"id":"e0589f.7ab7276","type":"change","z":"41a5cae4.91c334","name":"on/off => 1/0","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":120,"wires":[["9dddac8.7375b5","2c632859.e270a8"]]},{"id":"196bde21.9345e2","type":"change","z":"41a5cae4.91c334","name":"lights/mbathroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbathroom/main/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["e0589f.7ab7276"]]},{"id":"fce2bdca.d58ca","type":"change","z":"41a5cae4.91c334","name":"lights/livingroom/lamp","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/livingroom/lamp/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[["e0589f.7ab7276"]]},{"id":"2079ad8c.c0ff82","type":"change","z":"41a5cae4.91c334","name":"lights/bedroom/desk","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bedroom/desk/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["e0589f.7ab7276"]]},{"id":"2f901bd.c2066e4","type":"change","z":"41a5cae4.91c334","name":"lights/mbedroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/main/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["e0589f.7ab7276"]]},{"id":"eb3d4393.90c08","type":"change","z":"41a5cae4.91c334","name":"lights/bedroom/main","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/bedroom/main/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["e0589f.7ab7276"]]},{"id":"e8572203.3dd2c","type":"change","z":"41a5cae4.91c334","name":"lights/mbedroom/nightlight","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/nightlight/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[["e0589f.7ab7276"]]},{"id":"cb9fa992.1ff368","type":"change","z":"41a5cae4.91c334","name":"lights/livingroom/tvlight","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/livingroom/tvlight/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["e0589f.7ab7276"]]},{"id":"a964a315.af0e","type":"change","z":"41a5cae4.91c334","name":"lights/mbedroom/commode","rules":[{"t":"set","p":"topic","pt":"msg","to":"lights/mbedroom/commode/cmd/gpio/12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["e0589f.7ab7276"]]},{"id":"bb276bb3.fd7958","type":"change","z":"41a5cae4.91c334","name":"hibernate","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\": \"hibernate\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[["f7dc4d21.5118b","e0c39c6b.9d403"]]},{"id":"dc5f6f9c.5cfcf","type":"switch","z":"41a5cae4.91c334","name":"turn on/off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":680,"wires":[["22a0ba13.2479e6","e0c39c6b.9d403"],["bb276bb3.fd7958"]],"outputLabels":["on","off"]},{"id":"f7dc4d21.5118b","type":"mqtt out","z":"41a5cae4.91c334","name":"","topic":"device/pc/cmd","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":920,"y":760,"wires":[]},{"id":"22a0ba13.2479e6","type":"wake on lan","z":"41a5cae4.91c334","mac":"90-B1-1C-92-C6-93","host":"192.168.2.255","name":"WOL PC","x":900,"y":680,"wires":[]},{"id":"e0c39c6b.9d403","type":"debug","z":"41a5cae4.91c334","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":720,"wires":[]},{"id":"f72fe46a.a21648","type":"change","z":"41a5cae4.91c334","name":"hibernate(debug)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\": \"hibernate\", \"debug\": true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":800,"wires":[["f7dc4d21.5118b"]]},{"id":"8cb65f37.27a39","type":"inject","z":"41a5cae4.91c334","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":800,"wires":[["f72fe46a.a21648"]]},{"id":"5a202e44.1931b","type":"inject","z":"41a5cae4.91c334","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":760,"wires":[["bb276bb3.fd7958"]]},{"id":"28ca11fd.8f4d8e","type":"mqtt out","z":"41a5cae4.91c334","name":"kitchen lights","topic":"shellies/shelly1-32A790/relay/0/command","qos":"","retain":"","broker":"8f311e8b.c6f96","x":630,"y":540,"wires":[]},{"id":"802dd7e6.0f7468","type":"mqtt out","z":"41a5cae4.91c334","name":"Living room lights","topic":"shellies/shelly1-5B2D92/relay/0/command","qos":"","retain":"","broker":"8f311e8b.c6f96","x":650,"y":500,"wires":[]},{"id":"d5bea0fa.dca6c","type":"mqtt out","z":"41a5cae4.91c334","name":"Kitchen worktop lights","topic":"shellies/shelly1-5B3144/relay/0/command","qos":"","retain":"","broker":"8f311e8b.c6f96","x":660,"y":580,"wires":[]},{"id":"1ecc9297.a0d24d","type":"amazon-echo-hub","z":"41a5cae4.91c334","port":"80","enableinput":false,"x":110,"y":120,"wires":[["bb778ce0.503ed","b343c82e.3dc588","5b7858a7.3cb858","500b5371.11648c","b8869568.32af98","5e938db4.8e67a4","3cf115ac.94d90a","263f9a89.9427b6","7f9734cb.33d5cc","f099c352.71e9f","706237ff.68ad78","35da876b.0c8cb8","987567bc.037688","e9635489.b061f8","381bd692.e39e4a","9eed6df.330bb9"]]},{"id":"bb778ce0.503ed","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"All lights","topic":"","x":400,"y":60,"wires":[["fce2bdca.d58ca","cb9fa992.1ff368","eb3d4393.90c08","2079ad8c.c0ff82","46006e74.179e7","196bde21.9345e2","2f901bd.c2066e4","e8572203.3dd2c","a964a315.af0e","802dd7e6.0f7468","28ca11fd.8f4d8e","d5bea0fa.dca6c"]]},{"id":"b343c82e.3dc588","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Living room lamp","topic":"","x":350,"y":120,"wires":[["fce2bdca.d58ca"]]},{"id":"5b7858a7.3cb858","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Tv light","topic":"","x":320,"y":160,"wires":[["cb9fa992.1ff368"]]},{"id":"500b5371.11648c","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Bedroom lights","topic":"","x":340,"y":200,"wires":[["eb3d4393.90c08"]]},{"id":"b8869568.32af98","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Desk light","topic":"","x":320,"y":240,"wires":[["2079ad8c.c0ff82"]]},{"id":"5e938db4.8e67a4","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Bathroom lights","topic":"","x":340,"y":280,"wires":[["46006e74.179e7"]]},{"id":"3cf115ac.94d90a","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Master bathroom lights","topic":"","x":360,"y":320,"wires":[["196bde21.9345e2"]]},{"id":"263f9a89.9427b6","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Master bedroom lights","topic":"","x":360,"y":360,"wires":[["2f901bd.c2066e4"]]},{"id":"7f9734cb.33d5cc","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Night light","topic":"","x":320,"y":400,"wires":[["e8572203.3dd2c"]]},{"id":"f099c352.71e9f","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Commode light","topic":"","x":340,"y":440,"wires":[["a964a315.af0e"]]},{"id":"706237ff.68ad78","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Living room lights","topic":"","x":350,"y":500,"wires":[["802dd7e6.0f7468"]]},{"id":"35da876b.0c8cb8","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Kitchen lights","topic":"","x":340,"y":540,"wires":[["28ca11fd.8f4d8e"]]},{"id":"987567bc.037688","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Kitchen worktop lights","topic":"","x":360,"y":580,"wires":[["d5bea0fa.dca6c"]]},{"id":"e9635489.b061f8","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"My PC","topic":"","x":310,"y":640,"wires":[["dc5f6f9c.5cfcf"]]},{"id":"381bd692.e39e4a","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"PC","topic":"","x":310,"y":680,"wires":[["dc5f6f9c.5cfcf"]]},{"id":"ff70c74d.276fd8","type":"rfx-meter","z":"43eecb89.0268f4","name":"Owl","port":"fad76540.df6b98","topicSource":"single","topic":"CM180/0x8982","x":90,"y":100,"wires":[["cd6cc322.843d2","ff8289da.7d8188","8e410efe.acde5","d9bd22ef.59ce"]]},{"id":"cd6cc322.843d2","type":"debug","z":"43eecb89.0268f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":40,"wires":[]},{"id":"be573518.d7f958","type":"mqtt out","z":"43eecb89.0268f4","name":"","topic":"device/owlenergy/status","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":890,"y":100,"wires":[]},{"id":"aceb37bf.f50528","type":"change","z":"43eecb89.0268f4","name":"set energy as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.energy","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["fd5c35f4.6295b8","6e52bf4a.4abad"]]},{"id":"ff8289da.7d8188","type":"switch","z":"43eecb89.0268f4","name":"is energy set","property":"payload.energy","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":260,"wires":[["bc0d9f73.96fbf"]]},{"id":"f8f14757.38b028","type":"inject","z":"43eecb89.0268f4","name":"energy","topic":"","payload":"{\"power\":{\"value\":933,\"unit\":\"W\"},\"energy\":{\"value\":4850908.068280382,\"unit\":\"Wh\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["ff8289da.7d8188"]]},{"id":"fd5c35f4.6295b8","type":"debug","z":"43eecb89.0268f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":220,"wires":[]},{"id":"c00cc14.4f77e4","type":"inject","z":"43eecb89.0268f4","name":"power","topic":"","payload":"{\"power\":{\"value\":4700,\"unit\":\"W\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["ff8289da.7d8188","8e410efe.acde5"]]},{"id":"8e410efe.acde5","type":"switch","z":"43eecb89.0268f4","name":"is power set","property":"payload.power","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":440,"wires":[["aa522a50.7d0148"]]},{"id":"aa522a50.7d0148","type":"change","z":"43eecb89.0268f4","name":"set power as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.power","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":440,"wires":[["60dc768a.3da388"]]},{"id":"60dc768a.3da388","type":"mqtt out","z":"43eecb89.0268f4","name":"","topic":"sensor/utility/power","qos":"2","retain":"false","broker":"8f311e8b.c6f96","x":910,"y":440,"wires":[]},{"id":"6e52bf4a.4abad","type":"mqtt out","z":"43eecb89.0268f4","name":"","topic":"sensor/utility/energy","qos":"","retain":"true","broker":"8f311e8b.c6f96","x":900,"y":260,"wires":[]},{"id":"acb70796.0b2a38","type":"inject","z":"43eecb89.0268f4","name":"energy","topic":"","payload":"{\"power\":{\"value\":400,\"unit\":\"W\"},\"energy\":{\"value\":4851308.068280382,\"unit\":\"Wh\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["ff8289da.7d8188"]]},{"id":"f64c7c37.9d099","type":"inject","z":"43eecb89.0268f4","name":"energy","topic":"","payload":"{\"power\":{\"value\":500,\"unit\":\"W\"},\"energy\":{\"value\":4851408.068280382,\"unit\":\"Wh\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["ff8289da.7d8188"]]},{"id":"43a29c73.d7da64","type":"rfx-PT2262-in","z":"90481099.6eeb5","name":"Co-Tech sensors","port":"28ad12c.c80e8ee","deviceList":"89a3c32e.a282f","topicSource":"all","topic":"","x":180,"y":1620,"wires":[["61e45fa4.32a9e","88215440.60a968"]]},{"id":"61e45fa4.32a9e","type":"switch","z":"90481099.6eeb5","name":"msg.raw exists","property":"raw","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":1740,"wires":[["ed55a5a.183c058","a4611197.ba373","88215440.60a968","8e447fc8.87e3a","87f33439.8680b8","ba89f798.23ac68","921fbcf7.5a945","a6aea3cf.a71d9"]]},{"id":"ed55a5a.183c058","type":"switch","z":"90481099.6eeb5","name":"bathroom motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x900FBD","vt":"str"},{"t":"eq","v":"0x93F74D","vt":"str"},{"t":"eq","v":"0x96CD9D","vt":"str"},{"t":"eq","v":"0x9C2A2D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":1680,"wires":[["3dfceda.da19a12"],["3dfceda.da19a12"],["4fcb1e86.334de"],["4fcb1e86.334de"]]},{"id":"3dfceda.da19a12","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1660,"wires":[["200574d9.02ffbc"]]},{"id":"4fcb1e86.334de","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1700,"wires":[["200574d9.02ffbc"]]},{"id":"200574d9.02ffbc","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/bathroom/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":830,"y":1680,"wires":[]},{"id":"a4611197.ba373","type":"switch","z":"90481099.6eeb5","name":"mbathroom motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x9E604D","vt":"str"},{"t":"eq","v":"0x9A33BD","vt":"str"},{"t":"eq","v":"0x90299D","vt":"str"},{"t":"eq","v":"0x94152D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":1760,"wires":[["e5f61ec3.3e7d"],["e5f61ec3.3e7d"],["75bb7068.e3042"],["75bb7068.e3042"]]},{"id":"e5f61ec3.3e7d","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1740,"wires":[["e26e0ae4.63ead8"]]},{"id":"75bb7068.e3042","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1780,"wires":[["e26e0ae4.63ead8"]]},{"id":"e26e0ae4.63ead8","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/mbathroom/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":830,"y":1760,"wires":[]},{"id":"88215440.60a968","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"raw.data","targetType":"msg","x":410,"y":1620,"wires":[]},{"id":"8e447fc8.87e3a","type":"switch","z":"90481099.6eeb5","name":"living room motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x9C9D4D","vt":"str"},{"t":"eq","v":"0x97C2BD","vt":"str"},{"t":"eq","v":"0x96779D","vt":"str"},{"t":"eq","v":"0x98562D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":1840,"wires":[["ed106fd6.fd7df"],["ed106fd6.fd7df"],["3febdcba.400e84"],["3febdcba.400e84"]]},{"id":"ed106fd6.fd7df","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1820,"wires":[["a49f9ced.23ee4"]]},{"id":"3febdcba.400e84","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1860,"wires":[["a49f9ced.23ee4"]]},{"id":"a49f9ced.23ee4","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/livingroom/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":830,"y":1840,"wires":[]},{"id":"87f33439.8680b8","type":"switch","z":"90481099.6eeb5","name":"master bed motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x81CFBD","vt":"str"},{"t":"eq","v":"0x8FD74D","vt":"str"},{"t":"eq","v":"0x8C7A2D","vt":"str"},{"t":"eq","v":"0x820D9D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":1920,"wires":[["a747053.271daf8"],["a747053.271daf8"],["ee2756c7.528178"],["ee2756c7.528178"]]},{"id":"a747053.271daf8","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1900,"wires":[["9f4182f6.866b6"]]},{"id":"ee2756c7.528178","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1940,"wires":[["9f4182f6.866b6"]]},{"id":"9f4182f6.866b6","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/mbedroom/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":830,"y":1920,"wires":[]},{"id":"ba89f798.23ac68","type":"switch","z":"90481099.6eeb5","name":"corridor motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x9B254D","vt":"str"},{"t":"eq","v":"0x94A1BD","vt":"str"},{"t":"eq","v":"0x9CBB9D","vt":"str"},{"t":"eq","v":"0x91002D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":2080,"wires":[["45f3fec1.313ed"],["45f3fec1.313ed"],["3fdab582.01ac3a"],["3fdab582.01ac3a"]]},{"id":"45f3fec1.313ed","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2060,"wires":[["db52e968.9cb0f8"]]},{"id":"3fdab582.01ac3a","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2100,"wires":[["db52e968.9cb0f8"]]},{"id":"db52e968.9cb0f8","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/corridor/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":840,"y":2080,"wires":[]},{"id":"921fbcf7.5a945","type":"switch","z":"90481099.6eeb5","name":"bedroom motion","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x8041BD","vt":"str"},{"t":"eq","v":"0x84754D","vt":"str"},{"t":"eq","v":"0x8FC02D","vt":"str"},{"t":"eq","v":"0x821B9D","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":2000,"wires":[["63859a56.2e50f4"],["63859a56.2e50f4"],["199441d1.02aafe"],["199441d1.02aafe"]]},{"id":"63859a56.2e50f4","type":"change","z":"90481099.6eeb5","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1980,"wires":[["3620f899.2c1b28"]]},{"id":"199441d1.02aafe","type":"change","z":"90481099.6eeb5","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":2020,"wires":[["3620f899.2c1b28"]]},{"id":"3620f899.2c1b28","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/bedroom/motion","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":830,"y":2000,"wires":[]},{"id":"a6aea3cf.a71d9","type":"switch","z":"90481099.6eeb5","name":"kids balkony door","property":"raw.data","propertyType":"msg","rules":[{"t":"eq","v":"0x8BC440","vt":"str"},{"t":"eq","v":"0x8706B0","vt":"str"},{"t":"eq","v":"0x838890","vt":"str"},{"t":"eq","v":"0x81E220","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":2160,"wires":[["565cd00c.21fc5"],["565cd00c.21fc5"],["c29244b2.e1c4c8"],["c29244b2.e1c4c8"]]},{"id":"565cd00c.21fc5","type":"change","z":"90481099.6eeb5","name":"Opened","rules":[{"t":"set","p":"payload","pt":"msg","to":"Opened","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2140,"wires":[["feefdb9a.cbf548"]]},{"id":"c29244b2.e1c4c8","type":"change","z":"90481099.6eeb5","name":"Closed","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2180,"wires":[["feefdb9a.cbf548"]]},{"id":"feefdb9a.cbf548","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"sensor/bedroom/balkony","qos":"","retain":"true","broker":"8f311e8b.c6f96","x":830,"y":2160,"wires":[]},{"id":"99613260.98fec","type":"switch","z":"90481099.6eeb5","name":"MotionDetected","property":"payload.MotionDetected","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1020,"wires":[["9d03cb50.e3b588"]]},{"id":"d335e774.2f53b8","type":"mqtt out","z":"90481099.6eeb5","name":"sensor/{{room}}/motion","topic":"","qos":"","retain":"false","broker":"8f311e8b.c6f96","x":1120,"y":1020,"wires":[]},{"id":"9d03cb50.e3b588","type":"change","z":"90481099.6eeb5","name":"set topic and payload","rules":[{"t":"change","p":"payload.MotionDetected","pt":"msg","from":"true","fromt":"bool","to":"On","tot":"str"},{"t":"change","p":"payload.MotionDetected","pt":"msg","from":"false","fromt":"bool","to":"Off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"\"sensor/\" & payload.room & \"/motion\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.MotionDetected","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1020,"wires":[["d335e774.2f53b8","dc965675.d7da68"]]},{"id":"dc965675.d7da68","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":980,"wires":[]},{"id":"5bead9d5.2ef758","type":"api-call-service","z":"2a384ea9.1c12d2","name":"","server":"a0ecd024.daaf","version":1,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{ \"message\": \"{{payload.message}}\", \"data\": {\"type\": \"announce\"}, \"target\": [\"{{payload.target}}\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"msg","mustacheAltTags":false,"x":630,"y":160,"wires":[[]]},{"id":"f59fe93d.086088","type":"inject","z":"2a384ea9.1c12d2","name":"","topic":"","payload":"{\"message\":\"Warrning! Alarm is armed. It will activate in 20 seconds!\",\"target\":\"media_player.home_2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":160,"wires":[["5bead9d5.2ef758"]]},{"id":"9eed6df.330bb9","type":"amazon-echo-device","z":"41a5cae4.91c334","name":"Alarm","topic":"","x":310,"y":1020,"wires":[["3cf975d5.33492a"]]},{"id":"3cf975d5.33492a","type":"api-call-service","z":"41a5cae4.91c334","name":"Arm HA alarm","server":"a0ecd024.daaf","version":1,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"","data":"{ \"entity_id\": \"alarm_control_panel.home_alarm\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":1020,"wires":[[]]},{"id":"d530f2d2.4a66c","type":"api-call-service","z":"41a5cae4.91c334","name":"Alexa speak","server":"a0ecd024.daaf","version":1,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{ \"message\": \"{{payload.message}}\", \"data\": {\"type\": \"announce\"}, \"target\": [\"{{payload.target}}\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":1140,"wires":[[]]},{"id":"ccbdd940.824e58","type":"mqtt out","z":"41a5cae4.91c334","name":"","topic":"alarm/status","qos":"","retain":"","broker":"8f311e8b.c6f96","x":890,"y":1080,"wires":[]},{"id":"2aff142c.1537cc","type":"server-state-changed","z":"41a5cae4.91c334","name":"HA alarm state changed","server":"a0ecd024.daaf","version":1,"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":360,"y":1080,"wires":[["97d1f2a5.893a1","ccbdd940.824e58","d596a5d8.f530e8"],["97d1f2a5.893a1","ccbdd940.824e58"]]},{"id":"e026c2ff.12dc8","type":"debug","z":"41a5cae4.91c334","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1220,"wires":[]},{"id":"97d1f2a5.893a1","type":"change","z":"41a5cae4.91c334","name":"Set message and Home device","rules":[{"t":"change","p":"payload","pt":"msg","from":"pending","fromt":"str","to":"about to be armed","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"armed_away","fromt":"str","to":"armed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"message\":\"Alarm is \" & $.payload,\"target\":\"media_player.home_2\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1140,"wires":[["e026c2ff.12dc8","d530f2d2.4a66c"]]},{"id":"d596a5d8.f530e8","type":"debug","z":"41a5cae4.91c334","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1220,"wires":[]},{"id":"8909744f.a2ffc8","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"mbathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":960,"wires":[["99613260.98fec"]]},{"id":"31169e76.bdd4a2","type":"deconz-input","z":"90481099.6eeb5","name":"MBathroom motion","server":"7c6d8439.30666c","device":"00:15:8d:00:03:4c:f2:0f-01-0406","device_name":"Bathroom motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":190,"y":1020,"wires":[[],["fe7ed3a4.914d1"]]},{"id":"fe7ed3a4.914d1","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1020,"wires":[["99613260.98fec"]]},{"id":"fec886ed.ef29a8","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"","qos":"","retain":"","broker":"8f311e8b.c6f96","x":1530,"y":1480,"wires":[]},{"id":"e350763f.e949d8","type":"change","z":"90481099.6eeb5","name":"On/Off => 1/0 & set topic","rules":[{"t":"change","p":"payload.motion","pt":"msg","from":"On","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload.motion","pt":"msg","from":"Off","fromt":"str","to":"0","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"\"lights/\" & payload.room & \"/main/cmd/gpio/12\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.motion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1480,"wires":[["fec886ed.ef29a8","c1f4f77e.328d88"]]},{"id":"3c485ef0.de4702","type":"stoptimer","z":"90481099.6eeb5","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 5min","x":640,"y":1340,"wires":[["51b116d4.8303d8"],[]]},{"id":"8095e838.10d638","type":"switch","z":"90481099.6eeb5","name":"Filter room","property":"payload.room","propertyType":"msg","rules":[{"t":"eq","v":"bathroom","vt":"str"},{"t":"eq","v":"mbathroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1500,"wires":[["3c485ef0.de4702"],["7d1e3316.f0cefc"]]},{"id":"c1f4f77e.328d88","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1530,"y":1540,"wires":[]},{"id":"fe65ed50.deedc","type":"mqtt in","z":"90481099.6eeb5","name":"","topic":"sensor/+/motion","qos":"2","datatype":"utf8","broker":"8f311e8b.c6f96","x":180,"y":900,"wires":[["cde7414d.70774"]]},{"id":"cde7414d.70774","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":900,"wires":[]},{"id":"41d6bae2.ee3b84","type":"deconz-input","z":"90481099.6eeb5","name":"MBedroom motion","server":"7c6d8439.30666c","device":"00:15:8d:00:03:6c:7a:95-01-0406","device_name":"Master bedroom motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":190,"y":1080,"wires":[[],["2ccf8856.62a838"]]},{"id":"2ccf8856.62a838","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"mbedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1080,"wires":[["99613260.98fec"]]},{"id":"b0659dfd.5d156","type":"deconz-input","z":"90481099.6eeb5","name":"Corridor motion","server":"7c6d8439.30666c","device":"00:15:8d:00:03:6b:99:f6-01-0406","device_name":"Corridor motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":180,"y":1140,"wires":[[],["18b1a2e4.785cbd"]]},{"id":"18b1a2e4.785cbd","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"corridor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1140,"wires":[["99613260.98fec"]]},{"id":"c9e973e7.f4c3c","type":"deconz-input","z":"90481099.6eeb5","name":"Kids room motion","server":"7c6d8439.30666c","device":"00:15:8d:00:03:6b:5f:e0-01-0406","device_name":"Kids room motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":180,"y":1200,"wires":[[],["af9f4489.66eab8"]]},{"id":"af9f4489.66eab8","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1200,"wires":[["99613260.98fec"]]},{"id":"cca84f99.8341b","type":"deconz-input","z":"90481099.6eeb5","name":"Living room motion","server":"7c6d8439.30666c","device":"00:15:8d:00:03:4d:0b:70-01-0406","device_name":"Living room motion : ZHAPresence","state":"presence","output":"onchange","outputAtStartup":true,"x":190,"y":1260,"wires":[[],["c756e380.14bca"]]},{"id":"c756e380.14bca","type":"change","z":"90481099.6eeb5","name":"","rules":[{"t":"set","p":"payload.room","pt":"msg","to":"livingroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1260,"wires":[["99613260.98fec"]]},{"id":"eb71c076.fc7d9","type":"mqtt in","z":"90481099.6eeb5","name":"","topic":"sensor/+/motion","qos":"2","datatype":"auto","broker":"8f311e8b.c6f96","x":190,"y":1440,"wires":[["8208fb38.94eb38"]]},{"id":"8208fb38.94eb38","type":"function","z":"90481099.6eeb5","name":"set room","func":"msg.payload = {\n    motion: msg.payload,\n    room: msg.topic.split(\"/\")[1]\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1440,"wires":[["8095e838.10d638"]]},{"id":"7d1e3316.f0cefc","type":"stoptimer","z":"90481099.6eeb5","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 15min","x":650,"y":1460,"wires":[["988ff1c.0866f1"],[]]},{"id":"51b116d4.8303d8","type":"api-current-state","z":"90481099.6eeb5","name":"get bathroom_light state","server":"a0ecd024.daaf","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_light","state_type":"str","state_location":"payload.light_state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":1380,"wires":[["ea57599f.838e98"]]},{"id":"ea57599f.838e98","type":"switch","z":"90481099.6eeb5","name":"if light is \"on\"","property":"payload.light_state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":1440,"wires":[["77d2ff45.9b437"]]},{"id":"988ff1c.0866f1","type":"api-current-state","z":"90481099.6eeb5","name":"get master_bathroom_light state","server":"a0ecd024.daaf","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.master_bathroom_light","state_type":"str","state_location":"payload.light_state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":1500,"wires":[["ea57599f.838e98"]]},{"id":"6ab76767.2bf588","type":"pushover","z":"90481099.6eeb5","name":"Notify via phone","device":"","title":"Saved electricity","priority":0,"sound":"","url":"","url_title":"","html":false,"x":1500,"y":1400,"wires":[]},{"id":"64e318a6.f29858","type":"change","z":"90481099.6eeb5","name":"room => payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.room","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1400,"wires":[["6ab76767.2bf588"]]},{"id":"9232062b.1fab28","type":"deconz-input","z":"c1de863.14bd278","name":"Master bedroom main lights","server":"7c6d8439.30666c","device":"00:15:8d:00:03:a2:d2:8e-02","device_name":"Master bedroom main lights : Smart plug","state":"0","output":"always","outputAtStartup":true,"x":140,"y":860,"wires":[["1c7ede20.1f0562"],[]]},{"id":"5491f1e7.732dc","type":"deconz-input","z":"c1de863.14bd278","name":"Master bedroom switch 2","server":"7c6d8439.30666c","device":"00:15:8d:00:03:a2:d2:8e-03","device_name":"Master bedroom switch 2 : Smart plug","state":"0","output":"always","outputAtStartup":true,"x":130,"y":1000,"wires":[["972ffa0d.4b8b98"],[]]},{"id":"67065f15.db8ca","type":"mqtt out","z":"c1de863.14bd278","name":"","topic":"lights/mbedroom/main/relay/state","qos":"","retain":"true","broker":"8f311e8b.c6f96","x":680,"y":860,"wires":[]},{"id":"15112122.4307cf","type":"mqtt out","z":"c1de863.14bd278","name":"","topic":"lights/mbedroom/nightlight/cmd/gpio/12","qos":"","retain":"true","broker":"8f311e8b.c6f96","x":700,"y":1000,"wires":[]},{"id":"1c7ede20.1f0562","type":"change","z":"c1de863.14bd278","name":"true/false => 1/0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.on","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":860,"wires":[["67065f15.db8ca"]]},{"id":"972ffa0d.4b8b98","type":"change","z":"c1de863.14bd278","name":"true/false => 1/0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.on","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1000,"wires":[["15112122.4307cf"]]},{"id":"251804de.5d97ec","type":"mqtt in","z":"c1de863.14bd278","name":"","topic":"lights/mbedroom/main/cmd/gpio/12","qos":"2","datatype":"utf8","broker":"8f311e8b.c6f96","x":160,"y":920,"wires":[["5894c312.e5b75c"]]},{"id":"95f2f986.814d28","type":"deconz-output","z":"c1de863.14bd278","name":"","server":"7c6d8439.30666c","device":"00:15:8d:00:03:a2:d2:8e-02","device_name":"Master bedroom main lights : Smart plug","command":"on","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":700,"y":920,"wires":[]},{"id":"5894c312.e5b75c","type":"change","z":"c1de863.14bd278","name":"1/0 => true/false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":920,"wires":[["95f2f986.814d28"]]},{"id":"bb6803f8.8fdc4","type":"change","z":"c1de863.14bd278","name":"1/0 => true/false","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1060,"wires":[["3c861632.4abb3a"]]},{"id":"3c861632.4abb3a","type":"deconz-output","z":"c1de863.14bd278","name":"","server":"7c6d8439.30666c","device":"00:15:8d:00:03:a2:d2:8e-03","device_name":"Master bedroom switch 2 : Smart plug","command":"on","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":710,"y":1060,"wires":[]},{"id":"77d2ff45.9b437","type":"switch","z":"90481099.6eeb5","name":"if no motion","property":"payload.motion","propertyType":"msg","rules":[{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1440,"wires":[["64e318a6.f29858","e350763f.e949d8"]]},{"id":"5e837e78.7e9d","type":"inject","z":"41a5cae4.91c334","name":"","topic":"","payload":"pending","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1160,"wires":[["97d1f2a5.893a1"]]},{"id":"7936d87f.a58078","type":"mqtt in","z":"c1de863.14bd278","name":"","topic":"lights/mbedroom/nightlight/cmd/gpio/12","qos":"2","datatype":"utf8","broker":"8f311e8b.c6f96","x":170,"y":1060,"wires":[["bb6803f8.8fdc4"]]},{"id":"442f2ebe.f9ef2","type":"deconz-input","z":"c1de863.14bd278","name":"Standalone Switch","server":"7c6d8439.30666c","device":"00:15:8d:00:03:1e:38:55-01-0012","device_name":"SwitchStandalone : ZHASwitch","state":"0","output":"always","outputAtStartup":false,"x":110,"y":640,"wires":[["c6c778fd.4b1258","62135e1a.9843"],[]]},{"id":"c6c778fd.4b1258","type":"debug","z":"c1de863.14bd278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":720,"wires":[]},{"id":"bbeb1476.fd6aa8","type":"switch","z":"c1de863.14bd278","name":"Master bed. stanalone","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":640,"wires":[["fb6599d2.0e6348","288257c1.1bb3b8"],["83d7edd3.9915b","288257c1.1bb3b8"]]},{"id":"62135e1a.9843","type":"change","z":"c1de863.14bd278","name":"extract data","rules":[{"t":"set","p":"payload.unitid","pt":"msg","to":"meta.uniqueid","tot":"msg"},{"t":"set","p":"payload.button","pt":"msg","to":"meta.state.buttonevent","tot":"msg"},{"t":"set","p":"payload.battery","pt":"msg","to":"meta.config.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":640,"wires":[["4e522242.ffa0cc","d2c05341.1f172"]]},{"id":"4e522242.ffa0cc","type":"switch","z":"c1de863.14bd278","name":"unit switch","property":"payload.unitid","propertyType":"msg","rules":[{"t":"eq","v":"00:15:8d:00:03:1e:38:55-01-0012","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":640,"wires":[["bbeb1476.fd6aa8","f9410ca4.fd046"]]},{"id":"f9ec70e9.e86da","type":"api-call-service","z":"c1de863.14bd278","name":"Toggle light","server":"a0ecd024.daaf","version":1,"service_domain":"light","service":"toggle","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":640,"wires":[["65fc6ef1.5d1b9"]]},{"id":"fb6599d2.0e6348","type":"change","z":"c1de863.14bd278","name":"Desk light","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{ \"entity_id\": \"light.desk_light\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":640,"wires":[["f9ec70e9.e86da","38fbf6ac.fa99ba"]]},{"id":"83d7edd3.9915b","type":"change","z":"c1de863.14bd278","name":"Master bed. nightlight","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{ \"entity_id\": \"light.master_bedroom_night_light\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":680,"wires":[["f9ec70e9.e86da","38fbf6ac.fa99ba"]]},{"id":"38fbf6ac.fa99ba","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":700,"wires":[]},{"id":"d2c05341.1f172","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":720,"wires":[]},{"id":"f9410ca4.fd046","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":720,"wires":[]},{"id":"288257c1.1bb3b8","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":740,"wires":[]},{"id":"65fc6ef1.5d1b9","type":"debug","z":"c1de863.14bd278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":640,"wires":[]},{"id":"28dd61f9.87eade","type":"logger","z":"c1de863.14bd278","name":"","filename":"/config/logs/lights-switch.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":1650,"y":280,"wires":[]},{"id":"aba2cdf4.336c3","type":"change","z":"c1de863.14bd278","name":"Set log payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \t    \"Button code\": button_code,\t    \"Button nr\": button,\t    \"Action on/off\": payload,\t    \"MQTT topic\": topic\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":340,"wires":[["28dd61f9.87eade","84c1445c.0bc088"]]},{"id":"84c1445c.0bc088","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":340,"wires":[]},{"id":"7dff4b29.e62c24","type":"inject","z":"41a5cae4.91c334","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":620,"wires":[["22a0ba13.2479e6"]]},{"id":"bc0d9f73.96fbf","type":"switch","z":"43eecb89.0268f4","name":"is > 0","property":"payload.energy.value","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":260,"wires":[["aceb37bf.f50528"]]},{"id":"d9bd22ef.59ce","type":"switch","z":"43eecb89.0268f4","name":"is status set","property":"status","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":100,"wires":[["6c0bfb43.b10f64"]]},{"id":"6c0bfb43.b10f64","type":"change","z":"43eecb89.0268f4","name":"set status as payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[["be573518.d7f958"]]},{"id":"613d5f7c.666d8","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":40,"wires":[]},{"id":"c6dd5f1a.526c6","type":"deconz-input","z":"90481099.6eeb5","name":"Main door","server":"7c6d8439.30666c","device":"00:15:8d:00:04:24:0b:ba-01-0006","device_name":"Main Door Sensor : ZHAOpenClose","state":"0","output":"always","outputAtStartup":false,"x":160,"y":460,"wires":[["be90dc21.c1cc3","f6552970.d7c778"],[]]},{"id":"51ab205b.08119","type":"deconz-input","z":"90481099.6eeb5","name":"Bedroom balkony","server":"7c6d8439.30666c","device":"00:15:8d:00:04:24:0b:3d-01-0006","device_name":"Bedroom Balkony : ZHAOpenClose","state":"0","output":"always","outputAtStartup":false,"x":180,"y":520,"wires":[["f6552970.d7c778","be3594e1.095348"],[]]},{"id":"f6552970.d7c778","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":420,"wires":[]},{"id":"be90dc21.c1cc3","type":"change","z":"90481099.6eeb5","name":"sensor/corridor/door","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor/corridor/door","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["6be64752.bc3008"]]},{"id":"be3594e1.095348","type":"change","z":"90481099.6eeb5","name":"sensor/bedroom/balkony","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor/bedroom/balkony","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["6be64752.bc3008"]]},{"id":"b7e23515.656ff8","type":"mqtt out","z":"90481099.6eeb5","name":"","topic":"","qos":"","retain":"true","broker":"8f311e8b.c6f96","x":930,"y":460,"wires":[]},{"id":"ef90825b.5c337","type":"debug","z":"90481099.6eeb5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":520,"wires":[]},{"id":"6be64752.bc3008","type":"change","z":"90481099.6eeb5","name":"Expose attributes","rules":[{"t":"set","p":"payload.battery","pt":"msg","to":"meta.config.battery","tot":"msg"},{"t":"set","p":"payload.uid","pt":"msg","to":"meta.uniqueid","tot":"msg"},{"t":"set","p":"payload.name","pt":"msg","to":"meta.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["b7e23515.656ff8","ef90825b.5c337"]]},{"id":"270df96a.acb7e6","type":"deconz-input","z":"90481099.6eeb5","name":"Living room balkony","server":"7c6d8439.30666c","device":"00:15:8d:00:04:24:0c:f5-01-0006","device_name":"Living room balcony : ZHAOpenClose","state":"0","output":"always","outputAtStartup":false,"x":190,"y":580,"wires":[["a35d4424.332db8","f6552970.d7c778"],[]]},{"id":"a35d4424.332db8","type":"change","z":"90481099.6eeb5","name":"sensor/livingroom/balkony","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor/livingroom/balkony","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["6be64752.bc3008"]]},{"id":"c1bc1cf0.d5e9","type":"change","z":"c1de863.14bd278","name":"Set attributes","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.button_code","pt":"msg","to":"button_code","tot":"msg"},{"t":"set","p":"payload.rssi","pt":"msg","to":"status.rssi","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"topic_attr","tot":"msg"},{"t":"set","p":"payload.lastupdated","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":220,"wires":[["c7a89f7b.91563"]]},{"id":"227cdb3f.4741f4","type":"mqtt in","z":"c1de863.14bd278","name":"","topic":"lights/+/+/attr","qos":"2","datatype":"auto","broker":"8f311e8b.c6f96","x":1300,"y":500,"wires":[["dc49137a.62bfc"]]},{"id":"dc49137a.62bfc","type":"debug","z":"c1de863.14bd278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1650,"y":500,"wires":[]},{"id":"c7a89f7b.91563","type":"mqtt out","z":"c1de863.14bd278","name":"","topic":"","qos":"","retain":"","broker":"8f311e8b.c6f96","x":1650,"y":220,"wires":[]}]